<div class="form">
  {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{this.msg}}</div>
      {{/each }}
{{/if}}
  <p>Please register by filling in the form below</p>
  <form action="/users/register" method="POST" class="form-horizontal">
    <fieldset>
      <div id="legend">
        <legend>Register</legend>
      </div>
      <div class="control-group">
        <!-- Name-->
        <label for="yourname" class="control-label">Name</label>
        <div class="controls">
          <input id="yourname" type="text" name="name" value="{{name}}" placeholder="" class="input-xlarge"/>
          <p class="help-block">Please enter your name</p>
        </div>
      </div>
      <div class="control-group">
        <!-- Username-->
        <label for="username" class="control-label">Username</label>
        <div class="controls">
          <input id="username" type="text" name="username" value="username" class="input-xlarge"/>
          <p class="help-block">Please enter your desired username</p>
        </div>
      </div>
      <div class="control-group">
        <!-- E-mail-->
        <label for="email" class="control-label">E-mail</label>
        <div class="controls">
          <input id="email" type="text" name="email" class="input-xlarge"/>
          <p class="help-block">Please provide your E-mail</p>
        </div>
      </div>
      <div class="control-group">
        <!-- Password-->
        <label for="password" class="control-label">Password</label>
        <div class="controls">
          <input id="password" type="password" name="password"  class="input-xlarge"/>
          <p class="help-block">Password should be at least 4 characters</p>
        </div>
      </div>
      <!-- Confirm Password-->
      <div class="control-group">
        <label for="password2" class="control-label">Confirm Password</label>
        <div class="controls">
          <input id="password2" type="password" name="confirmPassword" class="input-xlarge"/>
          <p class="help-block">Re-enter password</p>
        </div>
      </div>
      <div class="control-group">
        <!-- Button-->
        <div class="controls">
          <button type="submit" class="btn btn-success">Register</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>